vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Mar 2006 14:36:50 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|30 Mar 2006 14:36:50 -0000
vti_filesize:IR|1457
vti_cachedtitle:SR|Travel Itinerary
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|styles/style.css S|images/amexheader.gif S|images/AmexFooter.gif
vti_cachedsvcrellinks:VX|NQUS|Templates/German/styles/style.css NSUS|Templates/German/images/amexheader.gif NSUS|Templates/German/images/AmexFooter.gif
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252
vti_charset:SR|utf-8
vti_title:SR|Travel Itinerary
vti_lineageid:SR|{903D283A-C620-4AEE-9356-C70F20B8F566}
vti_backlinkinfo:VX|
