vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Mar 2006 14:36:52 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|30 Mar 2006 14:36:52 -0000
vti_filesize:IR|979
vti_cachedtitle:SR|Travel Details
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|styles/style.css
vti_cachedsvcrellinks:VX|NQUS|Templates/German/styles/style.css
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252
vti_charset:SR|utf-8
vti_title:SR|Travel Details
vti_lineageid:SR|{61C084BC-871B-42F7-A1A8-C6A6FF92AA24}
vti_backlinkinfo:VX|
