vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Mar 2006 08:55:58 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|14 Mar 2006 08:55:58 -0000
vti_filesize:IR|2713
vti_lineageid:SR|{E17AB7EC-1E98-4060-9F69-45E1BDEE5C51}
vti_backlinkinfo:VX|Templates/CarSegment.htm Templates/HotelSegment.htm Templates/TourSegment.htm Templates/TMP5jvjzw3cnm.htm
