<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
		<title>Travel Details</title>
		<LINK href="styles/style.css" rel="StyleSheet" />
	</head>
	<body>
		<span id="AirSegment" class="AirSegment">
			<table class="SegmentTable" ID="Table1">
				<tr>
					<td class="headerCol1"><p><span class="AmexSegment">Beschreibung der Reiseroute</span></p></td>
					<td class="headerCol2"><span class="Date"><Day/>&nbsp;<Date/></span></td>
				</tr>
				<tr>
								<td class="SegCol1" colspan="4">&nbsp;</td>
								
							</tr>
				<tr>
					<td class="FlightInfo" colspan="2"><b>Reisedetails</b></td>
				</tr>
				<tr>
					<td colspan="2">
						<table class="SubSegment" ID="Table2">
							<tr>
								<td class="SegCol1">Fluglinie</td>
								<td class="SegCol2"><span class="Airline"><Airline/></span></td>
								<td class="SegCol3"><span class="status"><Status/></span></td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							<tr>
								<td class="SegCol1">Flugnummer</td>
								<td class="SegCol2"><span class="FlightNumber"><FlightNumber/></span></td>
								<td class="SegCol3">Eingeschätzte Zeit &nbsp;</td>
								<td class="SegCol4"><Duration/></td>
							</tr>
							<tr>
								<td class="SegCol1">Herkunft</td>
								<td class="SegCol2"><span class="City"><Departs/></span></td>
								<td class="SegCol3">Speisebetrieb</td>
								<td class="SegCol4"><Stops/></td>
							</tr>
							<tr>
								<td class="SegCol1">Reiseziel</td>
								<td class="SegCol2"><span class="City"><Arrive/></span></td>
								<span id="TransitSection">
								<td class="SegCol3">Transit</td>
								<td class="SegCol4"><span class="City"><Transit/></span></td>
								</span>
							</tr>
							<tr>
								<td class="SegCol1" valign="top">Abfahrt</td>
								<td class="SegCol2" valign="top"><DepTime/></td>
								<span id="MealSeaction">
								<td class="SegCol3" valign="top">Meals</td>
								<td class="SegCol4" valign="top"><Meals/></td>
								</span>
							</tr>
							<tr>
								<td class="SegCol1" valign="top">Ankunft</td>
								<td class="SegCol2" valign="top"><ArrTime/>&nbsp;/&nbsp;<ADate/></td>
								<span id="EquipmentSection">
								<td class="SegCol3" valign="top">Flugzeug </td>
								<td class="SegCol4" valign="top"><Equip/></td>
								</span>
							</tr>
							
							<tr>
								<td class="SegCol1" colspan="4">&nbsp;</td>
								
							</tr>
							<span id="OperatedBySection">
							<tr>
								<td class="SegCol1">Operated by</td>
								<td class="SegCol2"><span class="OperAirline"><Operated/></span></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							</span>
							<span id="DepartureTerminalSection">
							<tr>
								<td class="SegCol1">Abflugshafen</td>
								<td class="SegCol2"><DTerm/></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							</span>
							<span id="ArrivalTerminalSection">
							<tr>
								<td class="SegCol1">Arrival Terminal</td>
								<td class="SegCol2"><ATerm/></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							</span>
							<span id="SeatSection">
							<tr>
								<td class="SegCol1">Sitz </td>
								<td class="SegCol2"><SeatNumber/></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							</span>
							<span id="ClassSection">
							<tr>
								<td class="SegCol1">Klasse</td>
								<td class="SegCol2"><Class/></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							</span>
							<span id="SpecialRequests">
							<tr>
								<td class="SegCol1">Besondere Anforderungen:</td>
								<td class="SegCol2" colspan="3"><SSR/><Service/></td>
							</tr>
							</span>
							<tr>
								<td class="SegCol1" colspan="2"><Remarks/></td>
								
							</tr>
							<tr>
								<td class="SegCol1" colspan="4">&nbsp;</td>
								
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</span>
	</body>
</html>
