<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html>
	<head>
		<title>Travel Details</title>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
		<LINK href="styles/style.css" rel="StyleSheet"/>
	</head>
	<body>
		<span id="CarSegment" >
			<table class="SegmentTable">
				<tr>
					<td class="CarInfo" colspan="2"><b>Autoinformationen</b></td>
				</tr>
				<tr>
					<td colspan="2">
						<table class="SubSegment">
							<tr>
								<td class="SegCol1">Automietefirma</td>
								<td class="SegCol2"><span class="Supplier"><Supplier />
									</span></td>
								<td class="SegCol3"><span class="status"><Status />
									</span></td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							<tr>
								<td class="SegCol1">Abholen </td>
								<td class="SegCol2"><Indate/>&nbsp;<PickUp/></td>
								<td class="SegCol3">Mietzeit </td>
								<td class="SegCol4"><Duration/> Tage</td>
							</tr>
							<tr>
								<td class="SegCol1">Abgabe </td>
								<td class="SegCol2"><OutDate/>&nbsp;<DropOff/></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							<tr>
								<td class="SegCol1">Bestätigungszahl </td>
								<td class="SegCol2"><Confirmation /></td>
								<td class="SegCol3">Grösse </td>
								<td class="SegCol4"><Type /></td>
							</tr>
							<tr>
								<td class="SegCol1">Rate</td>
								<td class="SegCol2"><Rate /></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							<tr>
								<td class="SegCol1">Besondere Anforderungen</td>
								<td class="SegCol2" colspan="3"><FreeFormat /></td>
							</tr>
							<tr>
								<td class="SegCol1" colspan="4">&nbsp;</td>
								
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</span>
	</body>
</html>
