<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
		<title>Travel Itinerary</title>
		<LINK href="styles/style.css" rel="StyleSheet" />
	</head>
	<body>
		<span id="MainDocument" class="MainDocument">
			<table class="ItineraryTable" border="0">
				<tr>
					<td align="left"><img src="images/amexheader.gif" border="0" width="250px" /></td>
				</tr>
				<tr>
					<td><b><span class="TravelArrangements">Travel Arrangements for <Pax /></span></b></td>
				</tr>
				<tr>
					<td>
						<table width=100% border="0" class="Detail">
							<tr>
								<td class="RLOCHeadingCol" >Record Locator</td>
								<td class="RLOCCol"><span class="RLOC"><RLOC />123456
									</span></td>
								<td><span class="AgentID">Agent Id:&nbsp;123456<Agent /></span></td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><span class="Address"><ClientAddress />123456
									</span></td>
								<td><span class="Adress"><AgencyAddress />123456
									</span></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><Segments />123456</td>
				</tr>
				<tr>
					<td align="right"><img src="images/AmexFooter.gif" border="0" width="250" height="37" />
					</td>
				</tr>
			</table>
		</span>
	</body>
</html>
