@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/MyTP.cshtml";
}
<div class="change_password">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "frmChangePassword", name = "frmChangePassword" }))
    {
        <h1>
            Change Password</h1>   
        <label for="currentpassword">
            Current password:
        </label>
        <input type="password" name="currentpassword" size="24" id="txtCurrentPassword" />
        
        <label for="password">
            Password <em>(minimum 6 characters)</em>:</label>
        <input type="password" name="password" size="24" id="txtNewPassword" />
        <label for="password2">
            Confirm password:</label>
        <input type="password" name="confirmpassword" size="24" id="txtNewConfirmPassword" />
        <input type="submit" id="btnSubmit" name="btnSubmit" title="btnSubmit" value="GO" />
    }
</div>
