@{
    ViewBag.Title = "EnterNewPassword";
    Layout = "~/Views/Shared/MyTP.cshtml";
}

<div class="enter_new_password">
     <h1>Enter New Password</h1>
    @using (Html.BeginForm("EnterNewPassword", "User", FormMethod.Post, new { id = "frmEnterNewPassword", name = "frmEnterNewPassword", style = "width:300px;" }))
    {
        <label for="password">
            Password <em>(minimum 6 characters)</em>:</label>
        <input type="password" name="password" size="24" id="txtNewPassword" />
        <label for="password2">
            Confirm password:</label>
        <input type="password" name="confirmpassword" size="24" id="txtNewConfirmPassword" />
        <input type="submit" id="btnSubmit" name="btnSubmit" title="btnSubmit" value="GO" />
    }
</div>
