@{
    ViewBag.Title = "NewPasswordConfirmed";
    Layout = "~/Views/Shared/MyTP.cshtml";
}

<div class="new_password_confirmed">
     <h1>New Password Confirmed</h1>
    @using (Html.BeginForm("NewPasswordConfirmed", "User", FormMethod.Post, new { id = "frmNewPasswordConfirmed", name = "frmNewPasswordConfirmed", action = "EmailLogin" }))
    {   
        <label for="email">
            Email Address:</label>
        @Html.TextBox("email", null, new { @maxlength = "100", id = "txtEmail", title = "Email Address", @Value = "Email Address" })
        <label for="password">
            Password:</label>
@*@Html.PasswordFor(t => t.Password, new { id = "txtPassWord", @maxlength = "24" })*@
        <input type="password" name="password" size="24" id="password" />
        <input type="submit" id="btnSubmit" name="btnSubmit" title="btnSubmit" value="GO" />
    }
    <div id="form_footer_detail" class="form_footer">
            <a class="btn" href="/User/Register">Register</a> <a class="btn" href="/User/ResetPassword">
                Reset password</a>
        </div> 
</div>
<script type="text/javascript" language="javascript">

    $(document).ready(function () {

        $("input[id*='txtEmail']").focus(function () {
            $tb = $(this);
            if ($tb.val() == this.title) {
                $tb.val("");
            }
        });

        $("input[id*='txtEmail']").blur(function () {
            $tb = $(this);
            if ($tb.val() == "") {
                $tb.val("Email Address");
            }
        });


        $("input[id*='password']").focus(function () {
            $ts = $(this);
            if ($ts.val() == this.title) {
                $ts.val("");
            }
        });

        $("input[id*='password']").blur(function () {
            $ts = $(this);
            if ($ts.val() == "") {
                $ts.val("password");
            }
        });

    })
</script>

