@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/MyTP.cshtml";
}
<div class="reset_password">
  <h1>Reset password</h1>
  <script type="text/javascript">
    var RecaptchaOptions = {
      theme : 'white'
    };
  </script>
    @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { id = "frmResetPassword", name = "frmResetPassword", style="width:318px;" }))
    {  
        <label for="email">
            Email address:</label>
        @Html.TextBox("email", "", new { @maxlength = "100", id = "txtEmail", title = "Email Address", @Value = "Email Address" })

  <script type="text/javascript"
     src="http://www.google.com/recaptcha/api/challenge?k=6LdlbNESAAAAALtKoeah840s3cll8VsYjTBcUgmw">
  </script>
        
  <noscript>
     <iframe src="http://www.google.com/recaptcha/api/noscript?k=6LdlbNESAAAAALtKoeah840s3cll8VsYjTBcUgmw"
         height="300" width="500" frameborder="0"></iframe><br>
     <textarea name="recaptcha_challenge_field" rows="3" cols="40">
     </textarea>
     <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
  </noscript>
   
 <input type="submit" id="btnGO" name="btnGO" title="GO" value="GO" />
        
    }
</div>

<script type="text/javascript" language="javascript">

    $(document).ready(function () {

        $("input[id*='txtEmail']").focus(function () {
            $tb = $(this);
            if ($tb.val() == this.title) {
                $tb.val("");
            }
        });

        $("input[id*='txtEmail']").blur(function () {
            $tb = $(this);
            if ($tb.val() == "") {
                $tb.val("Email Address");
            }
        });
    })
</script>
