<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="wozEntities" connectionString="metadata=res://*/MTP.csdl|res://*/MTP.ssdl|res://*/MTP.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=203.19.215.74;User Id=woz;database=woz;password=2rachelle;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="qiliveEntities" connectionString="metadata=res://*/QiLive.csdl|res://*/QiLive.ssdl|res://*/QiLive.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=203.19.215.76;User Id=woz;password=2rachelle;database=qilive_data&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="qitransactionsEntities" connectionString="metadata=res://*/qitransactions.csdl|res://*/qitransactions.ssdl|res://*/qitransactions.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.12;User Id=woz;password=2rachelle;Persist Security Info=True;database=qitransactions&quot;" providerName="System.Data.EntityClient" />-->
    <add name="wozEntities" connectionString="metadata=res://*/MTP.csdl|res://*/MTP.ssdl|res://*/MTP.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.75;User Id=woz;database=woz;password=2rachelle;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <add name="qitransactionsEntities" connectionString="metadata=res://*/qitransactions.csdl|res://*/qitransactions.ssdl|res://*/qitransactions.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.73;User Id=woz;password=2rachelle;Persist Security Info=True;database=qitransactions&quot;" providerName="System.Data.EntityClient" />
    <add name="qiEntities" connectionString="metadata=res://*/QI.csdl|res://*/QI.ssdl|res://*/QI.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.1.73;User Id=woz;password=2rachelle;Persist Security Info=True;database=qi&quot;" providerName="System.Data.EntityClient" />
    <add name="qilivedataEntities" connectionString="metadata=res://*/QiLiveData.csdl|res://*/QiLiveData.ssdl|res://*/QiLiveData.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=203.19.215.76;User Id=woz;password=2rachelle;Persist Security Info=True;database=qilive_data&quot;" providerName="System.Data.EntityClient" />
    <add name="mtp_usersEntities" connectionString="metadata=res://*/mtp_users.csdl|res://*/mtp_users.ssdl|res://*/mtp_users.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=203.19.215.76;User Id=woz;password=2rachelle;Persist Security Info=True;database=mtp_users&quot;" providerName="System.Data.EntityClient" />
    <add name="mtpUsersEntities" connectionString="metadata=res://*/mtp_users.csdl|res://*/mtp_users.ssdl|res://*/mtp_users.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=203.19.215.76;User Id=woz;password=2rachelle;Persist Security Info=True;database=mtp_users&quot;" providerName="System.Data.EntityClient" />
    <add name="qilive_onlineEntities" connectionString="metadata=res://*/qilive_online.csdl|res://*/qilive_online.ssdl|res://*/qilive_online.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=203.19.215.76;User Id=woz;password=2rachelle;database=qilive_online;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
