<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href="styles/Itinerary.css" rel="stylesheet" type="text/css"/>
		</head>
	<body>
		<span id="ENDREMARKSDOM">
			<table class="SegmentTable" id="Table1" border="0">
				<tr>
					<td class="Remark"><p><span class="RemarkHeader">Domestic Travel Information</span>&nbsp;&nbsp;
							<br/>
							Please take the time to read prior to your flight, the following contains 
							helpful information
							<br/>
							<span class="RemarkSubHeader">Check In:</span>&nbsp;&nbsp; Please  
							check in at least 1 hour prior to departure for domestic flights. We suggest onward reservations and flight times 
							are reconfirmed 72 hours prior to departure. Due to heightened security the 
							airlines check in time and reconfirmation policies may differ. Please check 
							with your airline for the latest information.
							<br/>
							<span class="RemarkSubHeader">Electronic Tickets:</span>&nbsp;&nbsp; When 
							traveling on an electronic ticket it is a requirement that you carry photo 
							identification as acceptable by airlines. It is essential 
							that the name on your ticket matches exactly the name as shown on your photo 
							identification.
							<br/>
							<span class="RemarkSubHeader">Seating &amp; Meals:</span>&nbsp;&nbsp; 
							Pre-assigned seating and special meal requests as shown on your itinerary are 
							subject to confirmation upon check in and the airlines reserve the right to 
							change this without notice at any time.
							<br/>
							<span class="RemarkSubHeader">Baggage &amp; Quarantine:</span>&nbsp;&nbsp; 
							There exists an international safety measure in place to protect travellers. 
							Please refer to respective airlines/countries policy for further information on 
							restricted baggage and quarantine items or baggage allowance.
							<br/>
							<span class="RemarkSubHeader">Pricing &amp; Taxes:</span>&nbsp;&nbsp; All pricing and costs
							quoted are subject to change without notice due to airline/operator increases 
							and/or currency fluctuations. Prices can only be guaranteed when paid in full 
							and tickets and documents have been issued.
							<br/>
							<span class="RemarkSubHeader">Travel Insurance:</span>&nbsp;&nbsp; It is 
							strongly recommended to take out a Travel Insurance policy for all 
							destinations. If you would like more information please contact your American Express Travel Consultant.
							<br/>
							<span class="RemarkSubHeader">No Show / Cancellation Penalties:</span>&nbsp;&nbsp; 
							You may incur an airline no-show fee if you fail to notify the airline or 
							American Express travel that you are unable to travel on the flights you have 
							booked. Additionally failure to cancel the flight reservation may deem your 
							ticket unusable and non refundable.Certain categories of fares have penalties 
							applicable if cancellation within stipulated time. If not cancelled within 
							these time-frames, the ticket is deemed No Show. 
							<br/>
							<span class="RemarkSubHeader">Frequent Flyer:</span>&nbsp;&nbsp; Please retain 
							your boarding passes to assist in the reconciliation of your frequent flyer 
							statements. At time of check in the airline can reconfirm that your frequent 
							flyer number is entered.
							<br/>
							<span class="RemarkSubHeader">Itinerary:</span>&nbsp;&nbsp; To view your 
							itinerary on the internet, log on to <a class="AXlinks" href="www.mytravelplans.co.in">www.mytravelplans.co.in </a>
							 - to access your booking you will need your Booking Reference which is detailed on your American Express 
							itinerary.<br/>
							<br/>
							<span class="RemarkHeader">Important Information</span>&nbsp;&nbsp;
							<br/>
							Please take the time to read, the following contains important information
							<br/>
							<span class="RemarkSubHeader">Travel Intermediary Disclosure:</span>&nbsp;&nbsp; 
							Travel Intermediary Disclosure American Express (AMEX) helps manage your 
							company’s travel expenses and assists you in finding travel suppliers and 
							making arrangements that meet your individual needs. We consider various 
							factors in identifying travel suppliers and recommending specific itineraries. 
							In this role, we are acting as an independent third party and not as a 
							fiduciary. We want you to be aware that certain suppliers pay us commissions as 
							well as incentives for reaching sales targets or other goals, and from time to 
							time may also provide incentives to our travel counselors. Certain suppliers 
							may also provide compensation to us for various marketing and administrative 
							services that we perform for them, such as granting them access to our 
							marketing channels, participating in marketing programs and supporting 
							technology initiatives. In addition, we receive compensation from suppliers 
							when customers use the American Express® Card or other American Express 
							products to pay for supplier products and services. From time to time we may 
							enter into other business relationships with suppliers and these arrangements, 
							including levels and types of compensation and incentives we receive, are 
							subject to change. In identifying suppliers and recommending itineraries, we 
							may consider a number of factors; including supplier availability, your 
							preferences, and any agreements we have to book travel in accordance with your 
							company’s travel policy. The relationships we have with suppliers may also 
							influence the suppliers we identify and the itineraries we recommend.<br/>
							<span class="RemarkSubHeader">Liability Statement:</span>&nbsp;&nbsp; American 
							Express (AMEX) acts only as agent for the airlines hotels and other contractors 
							providing services (suppliers). By using the 
							services on this itinerary the client agrees that neither AMEX nor its related 
							companies employees or representatives shall be liable for any loss costs 
							expense injury accident or damage to person or property resulting directly or 
							indirectly from (a) the acts or omissions of such suppliers (b) acts of god or 
							(c) any other cause beyond AMEX control.<br/>
						  	<span class="RemarkSubHeader">Privacy Policy:</span>&nbsp;&nbsp; For American 
							Express Privacy Policy please refer to 
							<a class="AXlinks" href="http://www.americanexpress.com/australia/legal/privacy.shtml">www.americanexpress.com/australia/legal/privacy.shtml</a> </p>
							  <span class="RemarkHeader">Your Feedback Shapes our Business</span><br/>
						  As your travel service provider, American Express Business Travel and our representatives are committed
						  to assuring your satisfaction. 
						  <br/>
						  Please provide us with feedback about your travel experience at 
							  <a class="AXlinks" href="http://www.americanexpress.com.au/aimsonline">www.americanexpress.com.au/aimsonline</a> <br/>
			      </td>
				</tr>
			</table>
		</span>&nbsp;&nbsp;
		<span id="ENDREMARKSINTL">
			<table class="SegmentTable" id="Table2" border="0">
				<tr>
					<td class="Remark"><p><span class="RemarkHeader"> International
        Travel Information</span>&nbsp;&nbsp;
							<br/>
							Please take the time to read prior to your departure, the following contains 
							helpful information<br/>
							<span class="RemarkSubHeader"> Check In (Domestic):</span>&nbsp;&nbsp; Please 
							check in at least 1 hour prior to departure for Indian domestic 
							flights. Please refer to the respective airlines/countries policies for all 
							other domestic check in time. We suggest onward reservations and flight times 
							are reconfirmed 72 hours prior to departure. Due to heightened security the 
							airlines check in time and reconfirmation policies may differ. Please  
							check with your airline for the latest information.<br/>
							<span class="RemarkSubHeader"> Check In (International):</span>&nbsp;&nbsp; 
							Please check in at least 3 hours prior to departure for international 
							flights. Please refer to the respective airlines/countries policies for all 
							other domestic check in time. We suggest onward reservations and flight times are reconfirmed 72 hours prior 
							to departure. Due to heightened security the airlines check in time and reconfirmation policies 
							may differ. We suggest you check with your airline for the latest information.<br/>
							<span class="RemarkSubHeader"> Electronic Tickets:</span>&nbsp;&nbsp; When 
							travelling on an electronic ticket it is a requirement that you carry your 
							passport for international journey at all times. It is essential that the name 
							on your ticket matches exactly the name as shown on your passport.<br/>
							<span class="RemarkSubHeader"> Seating &amp; Meals:</span>&nbsp;&nbsp; 
							Pre-assigned seating and special meal requests as shown on your itinerary are 
							subject to confirmation upon check in and the airlines reserve the right to 
							change this without notice at any time.<br/>
							<span class="RemarkSubHeader"> Baggage &amp; Quarantine:</span>&nbsp;&nbsp; 
							There exists an international safety measure in place to protect travellers. 
							Please refer to respective airlines/countries policy for further information on 
							restricted baggage and quarantine items or baggage allowance.<br/>
							<span class="RemarkSubHeader"> Pricing &amp; Taxes:</span>&nbsp;&nbsp; All pricing and costs
							quoted are subject to change without notice due to airline/operator increases 
							and/or currency fluctuations. Prices can only be guaranteed when paid in full and tickets and 
							documents have been issued.<br/>
							<span class="RemarkSubHeader"> Travel Insurance:</span>&nbsp;&nbsp; It is 
							strongly recommended to take out a Travel Insurance policy for all 
							destinations. If you would like more information please contact your American Express Travel Consultant.<br/>
							<span class="RemarkSubHeader"> No Show / Cancellation Penalties:</span>&nbsp;&nbsp; 
							You may incur an airline no-show fee if you fail to notify the airline or 
							American Express travel that you are unable to travel on the flights you have 
							booked. Additionally failure to cancel the flight reservation may deem your 
							ticket unusable and non refundable. Certain categories of fares have penalties 
							applicable if cancellation within stipulated time. If not cancelled within 
							these time-frames, the ticket is deemed No Show. <br/>
							<span class="RemarkSubHeader">Frequent Flyer: </span>&nbsp;&nbsp;Please retain your 
							boarding passes to assist in the reconciliation of your frequent flyer statements. At time of check in the 
							airline can reconfirm that your frequent flyer number is entered.<br/>
							<span class="RemarkSubHeader"> Itinerary:</span>&nbsp;&nbsp; To view your 
							itinerary on the internet, log on to <a class="AXlinks" href="www.americanexpress.com.au/aimsonline">www.mytravelplans.co.in </a>
							- to access your booking you will need your Booking Reference which is detailed on your American Express 
							itinerary.<br/>
							<br/>
							<span class="RemarkHeader">Important Information</span>&nbsp;&nbsp;
							<br/>
							Please take the time to read, the following contains important information<br/>
							<span class="RemarkSubHeader">Travel Intermediary Disclosure:</span>&nbsp;&nbsp; 
							Travel Intermediary Disclosure American Express (AMEX) helps manage your 
							company’s travel expenses and assists you in finding travel suppliers and 
							making arrangements that meet your individual needs. We consider various 
							factors in identifying travel suppliers and recommending specific itineraries. 
							In this role, we are acting as an independent third party and not as a 
							fiduciary. We want you to be aware that certain suppliers pay us commissions as 
							well as incentives for reaching sales targets or other goals, and from time to 
							time may also provide incentives to our travel counselors. Certain suppliers 
							may also provide compensation to us for various marketing and administrative 
							services that we perform for them, such as granting them access to our 
							marketing channels, participating in marketing programs and supporting 
							technology initiatives. In addition, we receive compensation from suppliers 
							when customers use the American Express® Card or other American Express 
							products to pay for supplier products and services. From time to time we may 
							enter into other business relationships with suppliers and these arrangements, 
							including levels and types of compensation and incentives we receive, are 
							subject to change. In identifying suppliers and recommending itineraries, we 
							may consider a number of factors; including supplier availability, your 
							preferences, and any agreements we have to book travel in accordance with your 
							company’s travel policy. The relationships we have with suppliers may also 
							influence the suppliers we identify and the itineraries we recommend.<br/>
							<span class="RemarkSubHeader">Liability Statement:</span>&nbsp;&nbsp; American 
							Express (AMEX) acts only as agent for the airlines hotels and other contractors 
							providing services (suppliers). By using the 
							services on this itinerary the client agrees that neither AMEX nor its related 
							companies employees or representatives shall be liable for any loss costs 
							expense injury accident or damage to person or property resulting directly or 
							indirectly from (a) the acts or omissions of such suppliers (b) acts of god or 
							(c) any other cause beyond AMEX control.<br/>
							<span class="RemarkSubHeader">Privacy Policy:</span>&nbsp;&nbsp; For American 
							Express Privacy Policy please refer to 
							<a class="AXlinks" href="http://www.americanexpress.com/australia/legal/privacy.shtml">www.americanexpress.com/australia/legal/privacy.shtml</a> <br/>
							<br/>
					  	<span class="RemarkHeader">Your Feedback Shapes our Business</span><br/>
						As your travel service provider, American Express Business Travel and our representatives are committed
						  to assuring your satisfaction. <br/>
						  Please provide us with feedback about your travel experience at <a class="AXlinks" href="www.americanexpress.com.au/aimsonline">www.americanexpress.com.au/aimsonline</a> <br/>
							<br/>
					  </p></td>
				</tr>
			</table>
		</span>&nbsp;&nbsp;
		<span id="FEEDBACK" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>American Express Office and Communication Addresses</strong> </span><br />
    <table class="Remark" width="600" border="0">
	<tr>
	<td class="Remark" width="289"><strong>Gurgaon</strong></td>   
	<td class="Remark" width="301">Cyber City, Tower C, DLF Building No. 8, 3rd Floor, Sector-25, DLF City phase II, Gurgaon, 122002</td>
	</tr>
 		<tr>
	    <td class="Remark"><strong>Chennai</strong> </td>
	    <td class="Remark">510, Spencer Plaza, Phase II, 5th floor, 768/769, Anna Salai, Chennai, 600002</td>
	    </tr>
        <tr>
	    <td class="Remark"><strong>Pune</strong> </td>
	    <td class="Remark">406 -407, Sohrab Hall, 21, Sasoon Road, Pune, 411001</td>
	    </tr>
		<tr>
	    <td class="Remark"><strong>Mumbai</strong> </td>
	    <td class="Remark">Regal Cinema Building, Chattrapati Shivaji Maharaj Marg, Colaba, Mumbai, 400039</td>
	    </tr>
		<tr>
	    <td class="Remark"><strong>Bangalore</strong> </td>
	    <td class="Remark">Unit #M-02, Mezzanine Floor 139, Residency Road, Bangalore,  560025</td>
	    </tr>		
    </table>
	</p>
    </td>
  </tr>
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Emergency Assistance</strong> </span><br />
    Travellers who need after hours emergency assistance, requiring a new reservation or changes to existing reservation, can call
	Emergency Travel Services. The contact numbers for these services are: <br/>
	<table class="Remark" width="600" border="0">
	<tr>
	<td class="Remark" width="289"><strong>Gurgaon</strong></td>   
	<td class="Remark" width="301"><strong>+91 124 6774171 / 4610171</strong></td>
	</tr>
 		<tr>
	    <td class="Remark"><strong>Mumbai</strong> </td>
	    <td class="Remark"><strong>+91 22 66174871 / 22894571</strong></td>
	    </tr>
        <tr>
	    <td class="Remark"><strong>Bangalore</strong> </td>
	    <td class="Remark"><strong>+91 80 66223171 / 40373171</strong></td>
	    </tr>
		<tr>
	    <td class="Remark"><strong>Chennai</strong> </td>
	    <td class="Remark"><strong>+91 44 43936571 / 43936571</strong></td>
	    </tr>
		<tr>
	    <td class="Remark"><strong>Pune</strong> </td>
	    <td class="Remark"><strong>+91 20 66073171 / 30515171</strong></td>
	    </tr>
		<tr>
	   <td class="Remark"><strong>Hyderabad</strong> </td>
	    <td class="Remark"><strong>+91 40 66853171 / 23486171</strong></td>
	    </tr>		
    </table>
	<br/>
	</p>
    </td>
  </tr>
</table>
</span>
<span id="ALCOA" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Alcoa Information</strong> </span><br />
 	
Export Compliance Warning: Travel to certain countries, meetings with certain individuals, discussion of topics and the taking of certain 
product software or technical data may be strictly prohibited.  The foreign traveller bears the responsibility for completing all applicable 
foreign travel procedures and export control checks.  Consult your BU/RU compliance liaison for further guidance. <br />
	</p>
    </td>
  </tr>
</table>
</span>
<span id="SOS" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>AMEX Employee Travel Advisory - International SOS</strong> </span><br />
  American Express has a relationship with international SOS <br/>
A specialist provider of medical and security evacuation services, they provide an air ambulance service to travelling team members 
requiring medical attention. In the event of an emergency please contact the nearest International SOS centre. These centres are 
monitored 24 hrs a day. Please call:<br/>
US	1 215 245 4707<br/>
WITHIN US 	1800 523 6586<br/>
EUROPE 	4: 44 208 762 8008<br/>
ASIA	65 6338 7800<br/>
When you call please quote American Express SOS membership no : <strong>11BCPA00046</strong>.before you leave please download and print an 
SOS wallet card and carry it with you .You can find this and other information at <br/>
http://internationalsos.com/private/americanexpress/

	</p>
    </td>
  </tr>
</table>
</span>
<span id="ATNT" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important AT and T Information</strong> </span><br />
    By law under the Financial Services Reform Act, American Express is obligated to reference the statement below regarding travel 
insurance. It is strongly recommended to take out a travel insurance policy for all destinations. If you would like more information please 
contact your American Express travel consultant. Please note that travel insurance is a reimbursable expense for AT and T India based 
employees travelling outside their home country only.
	</p>
    </td>
  </tr>
</table>
</span>
<span id="CARGILLT" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Cargill Information</strong> </span><br />
   For emergency medical or evacuation services contact Medaire at 1-480-333-3595 worldwide or 1-888-856-8200 in North America.
	</p>
    </td>
  </tr>
</table>
</span>

<span id="CUMMINS" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Cummins Information</strong> </span><br />
    For 24 hour, worldwide medical, security and travel assistance and emergency evacuation assistance please contact International SOS 
online at www.internationalsos.com and enter the password found on your International SOS Membership card: 11BCPA000217 or by 
phone (collect call where possible).  From within the US call 1 800 523 6586.  From outside the US call Philadelphia 1 215 942 8226.  
London 44 20 8762 8008.  Singapore 65 6338 7800	
	</p>
    </td>
  </tr>
</table>
</span>

<span id="DEUTSCHEBANK" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Deutsche Bank Information</strong> </span><br />
    If you require emergency safety or security advice or assistance whilst travelling, please call the 24/7 DB Corporate Security and 
Business Continuity Operations Centre on +65 6238 6828.
</p>
    </td>
  </tr>
</table>
</span>

<span id="GENERALMOTORS" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important General Motors Information</strong> </span><br />
    For medical or security emergencies please call International SOS 24 hour service 1 215 245 4707 – Americas, 044 208 762 8008 – 
Europe, 65 6338 7800 – Asia.  GM access number – 1CPA916.
</p>
    </td>
  </tr>
</table>
</span>

<span id="HEWLETTPACKARD" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Hewlett Packard Information</strong> </span><br />
    Medical or Emergency Assistance: for medical and other emergency assistance services whilst travelling contact International 
SOS 49-6102-3588100.

</p>
    </td>
  </tr>
</table>
</span>

<span id="IBM" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important IBM Information</strong> </span><br />
    Please note that part of your travel information, such as flight, hotel and car information will be passed to a trusted IBM services 
provider for the purpose of helping to ensure traveller health during crisis/emergency situations. Such services provider may be located 
and/or provide its services from a country outside you location in which data protection laws may not be as comprehensive as in your 
country.
</p>
    </td>
  </tr>
</table>
</span>

<span id="IBMGLOBALIN" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important IBM Global Information</strong> </span><br />
    Please contact the Visa desk at your location to complete overseas insurance formalities. It is mandatory to activate the Insurance 
Policy prior to your travel. Failure to comply will result in non activation of the overseas insurance and in case of medical assistance you 
will be liable to bear the expenses personally.<br/>
As a business traveller visiting Australia you must comply with IBM Australia's short-term visa arrangement process prior to applying for 
ETA or 456 visa, you and your requesting manager in Australia must complete a short stay business checklist and send it to 
anzia/ph.ibm.com. Visa administration will confirm if the visit meets the short stay business visitor visa guidelines to download checklist 
and for further information refer to the IBM intranet site: <br/>
http://w3-6.ibm.com/hr/ap/australia/ourcareer/en-us/au/-shortbusinessvisa/-guide.html<br/>
Contact your IBM travel call centre on 91 124 6774340 in Gurgaon to make any changes to your itinerary or for en route travel 
Arrangements. For local call costs when in the areas below please call:<br/>
Bangalore	080 66223030<br/>
Chennai	044 43936555<br/>
Hyderabad	040 66853025<br/>
Mumbai	022 66174888<br/>
Pune	020 66073020<br/>
	</p>
    </td>
  </tr>
</table>
</span>

<span id="IBMIN" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important IBM Information</strong> </span><br />
    	Please note that part of your travel information such as flight, car and hotel details will be passed to a trusted IBM services provider for 
the purpose of helping to ensure traveller health during crisis/emergency situations.  Such services provider may be located and/or 
provide it's services from a country outside your location in which data protection laws may not be as comprehensive as in your country.<br />
Please contact the Visa desk at your location to complete overseas insurance formalities. It is mandatory to activate the Insurance 
policy prior to your travel. Failure to comply will result in non activation of the overseas insurance and in case of medical assistance you
will be liable to bear the expenses personally.<br />
Contact your IBM travel call centre on 91 124 6774340 in Gurgaon to make any changes to your itinerary or for en route travel 
arrangements. For local call costs when in the areas below please call:<br />
Bangalore	080 66223030<br />
Chennai	044 43936555<br />
Hyderabad	040 66853025<br />
Mumbai	022 66174888<br />
Pune	020 66073020<br />
</p>
    </td>
  </tr>
</table>
</span>

<span id="NORTELIN" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Nortel Information</strong> </span><br />
    Contact your Nortel Travel Call Centre on 91 124 6774182 in Delhi to make any changes to your itinerary or for en route travel 
arrangements. For local call costs when in the areas below please call:<br />
Mumbai	91-22-6617 4817<br />
Bangalore	91-80-6622 3115<br />
Chennai	91-44-4393 6515<br />
Hyderabad	91-40-6685 3115<br />
Kolkatta	91-33-6612 4115<br />

For healthcare and security emergencies while travelling internationally call Nortel’s Travel Well 24 hour phone line at ESN 333-2710 
or 1-215-701-2933. (Collect calls are accepted)  http://go/travelwell<br />

For information on travel policy and procedures, security bulletins, preferred vendors and related topics, visit Nortel’s Global Travel 
website @ http://travel.ca.nortel.com/Travel/index.html<br />
</p>
    </td>
  </tr>
</table>
</span>

<span id="INTEL" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Intel Information</strong> </span><br />
    Medical or legal emergencies call SOS 24 hours a day at 1-866-868-2853 within the US or 215-701-2939 collect if calling from outside 
the US.
</p>
    </td>
  </tr>
</table>
</span>

<span id="LENOVO" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Lenovo Information</strong> </span><br />
    Emergency Medical Assistance: we are concerned with your health and safety while you are travelling on company business, especially 
to an international location.  Lenovo has contracted with Ace Worldwide Assistance to provide 24 hour emergency medical assistance 
for all Lenovo employees and expatriates travelling on business internationally as well as coverage for any of their dependants who are 
accompanying them.  For additional information on the program and how to access the services, contact the Ace Alarm Centre at 
1800 243 6124 or collect at 1 202 659 7803.  Plan number 01AH585
</p>
    </td>
  </tr>
</table>
</span>

<span id="MICROSOFT" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Microsoft Information</strong> </span><br />
    For the latest Microsoft security updates, including travel notices, visit the corporate security website at <br />
http://security/travel/travelguidelines for information and resources to help you plan and execute a safe trip.  Business travellers to 
Belgium who are not Belgian citizens are required to register if their stay exceeds seven consecutive days.  <br />
For details contact wletter@microsoft.com
	</p>
    </td>
  </tr>
</table>
</span>

<span id="MORGANSTANLEY" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Morgan Stanley Information</strong> </span><br />
    Wash your hands often and well with soap and water or before eating.  Drink only bottled or boiled water or carbonated drinks from 
sources you trust.  Do not drink tap water or fountain drinks and avoid ice in cool drinks.  Do not brush your teeth with unsafe water.  
Only eat food that has been fully cooked or fruits and vegetables that have been washed and peeled by you.  Use insect repellent and 
keep arms and legs covered if there is a chance of being bitten.  Follow the precautions on avoiding malaria.  Seek medical advice if 
feeling unwell before, during or on return from your trip or if you have any health concerns.
	</p>
    </td>
  </tr>
</table>
</span>

<span id="MOTOROLA" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Motorola Information</strong> </span><br />
    Emergency contact number: 080-66139071 for any emergency travel assistance after office hours for travel up to 13.30 hours next 
business day and holidays.  Security emergency call centre in Asia:  91-124-419-1313.  Ensure that all itineraries reflect new acronym – 
LPS
</p>
    </td>
  </tr>
</table>
</span>

<span id="NOKIA" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Nokia Information</strong> </span><br />
    With all e-tickets and email itineraries there would be two links with further information for travellers: International Medical and Security 
Information http://www.internationalsos.com/members?home/login/clientaccess.cfm?custno?011243A  Please familiarise yourself with 
relevant country health and safety information before commencing your trip. <br />
Nokia emergency helpline 44-207-365-9626 http://connecting.nokia.com/travelsecurity<br />
	</p>
    </td>
  </tr>
</table>
</span>

<span id="TEKTRONIX" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Tektronix Information</strong> </span><br />
    Tektronix employees travelling overseas are eligible for medical benefits when travelling outside their work country and are eligible for 
medical evacuation services if needed.  Both programs are with Cigna.  Medical Benefits Abroad phone 302 797 3535 (collect calls 
accepted, use ATT access code).  US and Canada 1800 243 1348.  Tektronix Policy Number: 02935A.  Worldwide assistance for 
medical evacuation US and Cananda phone 1 888 226 4567, other locations call collect 1 202 331 7635.  Indicate you are a member of 
Cigna Secure Travel policy holder Tektronix Inc, policy number ABL961389 Group Number 57.  Email contact is <br />
cigna@worldwideassistance.com more information about both programs and ID Wallet cards can be found at <br />
http://fp-hr.tek.com/hr/usa/benefits/travel/:/accident.htm

</p>
    </td>
  </tr>
</table>
</span>

<span id="VERITAS" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Veritas Information</strong> </span><br />
    Global Security Operations Centre: 00 1 650 527 4323 <br />
Security Operation Centre: 00 44 118 943 6356. <br />
Emergency Security Number: 00 44 118 943 6501. <br />
SOS International UK: 00 44 20 8762 8008. <br />
SOS International within USA: 1 800 523 6586. <br />
SOS International USA: 00 1 215 245 4707. <br />
SOS International within Canada: 00 1 800 414 4767. <br />
SOS International Singapore: 00 65 6338 7800. <br /> 

Travel to Iraq, Afghanistan, Chechnya and Yemen require special security considerations before travel.  Please contact Global Security 
and Safety who will be happy to advise you or answer any questions you may have.  Contact Ian Ross-Harding on telephone number 
44 118 943 6218 or on ian_ross-harding@symantec.com
</p>
    </td>
  </tr>
</table>
</span>

<span id="AnotherBookMarkName" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important  Information</strong> </span><br />
    </p>
    </td>
  </tr>
</table>
</span>
	</body>
</html>
