<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link href="styles/Itinerary.css" rel="stylesheet" type="text/css"/>
		</head>
	<body>
		<span id="ENDREMARKSDOM">
			<table class="SegmentTable" id="Table1" border="0">
				<tr>
					<td class="Remark"><p><span class="RemarkHeader">Domestic Travel Information</span>&nbsp;&nbsp;
							<br/>
							Please take the time to read prior to your flight, the following contains 
							helpful information
							<br/>
							<span class="RemarkSubHeader">Check In (Domestic):</span>&nbsp;&nbsp; We 
							recommend travelers to check in at least 45 minutes prior to departure for all 
							Australian domestic flights. We suggest onward reservations and flight times 
							are reconfirmed 72 hours prior to departure. Due to heightened security the 
							airlines check in time and reconfirmation policies may differ. Please check 
							with your airline for the latest information.
							<br/>
							<span class="RemarkSubHeader">Electronic Tickets:</span>&nbsp;&nbsp; When 
							traveling on an electronic ticket it is a requirement that you carry photo 
							identification as acceptable by airlines for domestic flights. It is essential 
							that the name on your ticket matches exactly the name as shown on your photo 
							identification.
							<br/>
							<span class="RemarkSubHeader">Seating &amp; Meals:</span>&nbsp;&nbsp; 
							Pre-assigned seating and special meal requests as shown on your itinerary are 
							subject to confirmation upon check in and the airlines reserve the right to 
							change this without notice at any time.
							<br/>
							<span class="RemarkSubHeader">Baggage &amp; Quarantine:</span>&nbsp;&nbsp; 
							There exists an international safety measure in place to protect travelers. 
							Please refer to respective airlines/countries policy for further information on 
							restricted baggage and quarantine items or baggage allowance.
							<br/>
							<span class="RemarkSubHeader">Taxes &amp; Pricing:</span>&nbsp;&nbsp; Please 
							note that some taxes on the itinerary are quoted in US dollars and pricing 
							quoted are subject to change without notice due to airline/operator increases 
							and/or currency fluctuations. Prices can only be guaranteed when paid in full 
							and tickets and documents have been issued.
							<br/>
							<span class="RemarkSubHeader">Travel Insurance:</span>&nbsp;&nbsp; It is 
							strongly recommended to take out a Travel Insurance policy for all 
							destinations. Please contact your American Express Travel Consultant for more 
							information on the range of policies that may best suit you.
							<br/>
							<span class="RemarkSubHeader">No Show / Cancellation Penalties:</span>&nbsp;&nbsp; 
							You may incur an airline no-show fee if you fail to notify the airline or 
							American Express travel that you are unable to travel on the flights you have 
							booked. Additionally failure to cancel the flight reservation may deem your 
							ticket unusable and non refundable.Certain categories of fares have penalties 
							applicable if cancellation within stipulated time. If not cancelled within 
							these time-frames, the ticket is deemed No Show. No show / cancellation 
							penalties also apply to hotels / car rentals. Generally, hotels / car rentals 
							need to be cancelled at least 48 hours prior to check in. Please check with 
							hotels / car rentals for more information.
							<br/>
							<span class="RemarkSubHeader">Frequent Flyer:</span>&nbsp;&nbsp; Please retain 
							your boarding passes to assist in the reconciliation of your frequent flyer 
							statements. At time of check in the airline can reconfirm that your frequent 
							flyer number is entered.
							<br/>
							<span class="RemarkSubHeader">Itinerary:</span>&nbsp;&nbsp; To view your 
							itinerary on the internet, log on to www.viewtrip.com - to access your booking 
							you will need your Booking Reference which is detailed on your American Express 
							itinerary.<br/>
							<br/>
							<span class="RemarkHeader">Important Information</span>&nbsp;&nbsp;
							<br/>
							Please take the time to read, the following contains important information
							<br/>
							<span class="RemarkSubHeader">Travel Intermediary Disclosure:</span>&nbsp;&nbsp; 
							Travel Intermediary Disclosure American Express (AMEX) helps manage your 
							company’s travel expenses and assists you in finding travel suppliers and 
							making arrangements that meet your individual needs. We consider various 
							factors in identifying travel suppliers and recommending specific itineraries. 
							In this role, we are acting as an independent third party and not as a 
							fiduciary. We want you to be aware that certain suppliers pay us commissions as 
							well as incentives for reaching sales targets or other goals, and from time to 
							time may also provide incentives to our travel counselors. Certain suppliers 
							may also provide compensation to us for various marketing and administrative 
							services that we perform for them, such as granting them access to our 
							marketing channels, participating in marketing programs and supporting 
							technology initiatives. In addition, we receive compensation from suppliers 
							when customers use the American Express® Card or other American Express 
							products to pay for supplier products and services. From time to time we may 
							enter into other business relationships with suppliers and these arrangements, 
							including levels and types of compensation and incentives we receive, are 
							subject to change. In identifying suppliers and recommending itineraries, we 
							may consider a number of factors; including supplier availability, your 
							preferences, and any agreements we have to book travel in accordance with your 
							company’s travel policy. The relationships we have with suppliers may also 
							influence the suppliers we identify and the itineraries we recommend.<br/>
							<span class="RemarkSubHeader">Liability Statement:</span>&nbsp;&nbsp; American 
							Express (AMEX) acts only as agent for the airlines hotels and other contractors 
							providing services (suppliers). By using the 
							services on this itinerary the client agrees that neither AMEX nor its related 
							companies employees or representatives shall be liable for any loss costs 
							expense injury accident or damage to person or property resulting directly or 
							indirectly from (a) the acts or omissions of such suppliers (b) acts of god or 
							(c) any other cause beyond AMEX control.<br/>
						  	<span class="RemarkSubHeader">Privacy Policy:</span>&nbsp;&nbsp; For American 
							Express Privacy Policy please refer to 
							<a class="body" href="http://www.americanexpress.com/australia/legal/privacy.shtml">www.americanexpress.com/australia/legal/privacy.shtml</a> </p>
							  <span class="RemarkHeader">Your Feedback Shapes our Business</span><br/>
						  To submit feedback to our Business Travel Operations and Quality teams 24 hours a day/
							  7days a week, visit AIMS Online	at:	<a class="body" href="http://www.americanexpress.com.au/aimsonline">www.americanexpress.com.au/aimsonline</a> <br/>
			      </td>
				</tr>
			</table>
		</span>&nbsp;&nbsp;
		<span id="ENDREMARKSINTL">
			<table class="SegmentTable" id="Table2" border="0">
				<tr>
					<td class="Remark"><p><span class="RemarkHeader"> International
        Travel Information</span>&nbsp;&nbsp;
							<br/>
							Please take the time to read prior to your departure, the following contains 
							helpful information<br/>
							<span class="RemarkSubHeader"> Check In (Domestic):</span>&nbsp;&nbsp; Please 
							check in at least 45 minutes prior to departure for all Australian domestic 
							flights. Please refer to the respective airlines/countries policies for all 
							other domestic check in time. We suggest onward reservations and flight times 
							are reconfirmed 72 hours prior to departure. Due to heightened security the 
							airlines check in time and reconfirmation policies may differ. We suggest you 
							check with your airline for the latest information.<br/>
							<span class="RemarkSubHeader"> Check In (International):</span>&nbsp;&nbsp; 
							Please check in at least 90 minutes prior to departure for all international 
							flights in first class and business class; and at least 120 minutes prior to 
							departure for international flights in economy class. We suggest onward 
							reservations and flight times are reconfirmed 72 hours prior to departure. Due 
							to heightened security the airlines check in time and reconfirmation policies 
							may differ. We suggest you check with your airline for the latest information.<br/>
							<span class="RemarkSubHeader"> Electronic Tickets:</span>&nbsp;&nbsp; When 
							traveling on an electronic ticket it is a requirement that you carry your 
							passport for international journey at all times. It is essential that the name 
							on your ticket matches exactly the name as shown on your passport.<br/>
							<span class="RemarkSubHeader"> Seating &amp; Meals:</span>&nbsp;&nbsp; 
							Pre-assigned seating and special meal requests as shown on your itinerary are 
							subject to confirmation upon check in and the airlines reserve the right to 
							change this without notice at any time.<br/>
							<span class="RemarkSubHeader"> Baggage &amp; Quarantine:</span>&nbsp;&nbsp; 
							There exists an international safety measure in place to protect travelers. 
							Please refer to respective airlines/countries policy for further information on 
							restricted baggage and quarantine items or baggage allowance.<br/>
							<span class="RemarkSubHeader"> Pricing &amp; Taxes:</span>&nbsp;&nbsp; Please 
							note that some taxes on the itinerary are quoted in US dollars and pricing 
							quoted are subject to change without notice due to airline/operator increases 
							and/or currency fluctuations. Many countries have a departure tax which is 
							additional to the price of your ticket. Please ensure you have sufficient local 
							currency to pay for this at the airport.<br/>
							<span class="RemarkSubHeader"> Travel Insurance:</span>&nbsp;&nbsp; It is 
							strongly recommended to take out a Travel Insurance policy for all 
							destinations. Please contact your American Express Travel Consultant for more 
							information on the range of policies that may best suit you.<br/>
							<span class="RemarkSubHeader"> No Show / Cancellation Penalties:</span>&nbsp;&nbsp; 
							You may incur an airline no-show fee if you fail to notify the airline or 
							American Express travel that you are unable to travel on the flights you have 
							booked. Additionally failure to cancel the flight reservation may deem your 
							ticket unusable and non refundable. Certain categories of fares have penalties 
							applicable if cancellation within stipulated time. If not cancelled within 
							these time-frames, the ticket is deemed No Show. No show / cancellation 
							penalties also apply to hotels / car rentals. Generally, hotels / car rentals 
							need to be cancelled at least 48 hours prior to check in. Please check with 
							hotels / car rental for more information.<br/>
							<span class="RemarkSubHeader"> Itinerary:</span>&nbsp;&nbsp; To view your 
							itinerary on the internet, log on to www.viewtrip.com to access your booking 
							you will need your Booking Reference which is detailed on your American Express 
							itinerary.<br/>
							Frequent Flyer: Please retain your boarding passes to assist in the 
							reconciliation of your frequent flyer statements. At time of check in the 
							airline can reconfirm that your frequent flyer number is entered.<br/>
							<span class="RemarkSubHeader"> Passport:</span>&nbsp;&nbsp; Please ensure you 
							are holding a passport that has at least 6 months validity beyond the last day 
							of the ensuing trip. Please advise American Express Travel if you are not 
							traveling on an Australian passport as you may require a re-entry permit.<br/>
							<span class="RemarkSubHeader"> Visa:</span>&nbsp;&nbsp; Please ensure you have 
							any applicable visas for the countries you are visiting or transiting. It is 
							your responsibility to obtain correct visa documentation and American Express 
							Travel is happy to provide information and assistance.<br/>
							<span class="RemarkSubHeader"> Vaccinations:</span>&nbsp;&nbsp; Proof of 
							vaccination may be compulsory to enter certain countries or to return to 
							Australia. It is essential that you refer to department of Health that 
							www.health.gov.au and Travelvax at www.travelvax.com.au for travel health and 
							updates.<br/>
							<br/>
							<span class="RemarkHeader">Important Information</span>&nbsp;&nbsp;
							<br/>
							Please take the time to read, the following contains important information<br/>
							<span class="RemarkSubHeader"> ***Important Information for All Non-US Passport Holders Travelling to
        USA*** :</span>&nbsp;&nbsp; As from 04 October 2005, the US Customs and Border Protection Agency 
							will require additional details from all Non-US Passport Holders travelling to 
							the United States. Travellers must provide passport and details of where they 
							are staying in the US prior to departure at airport check in. Please ensure you 
							allow additional time at check in to avoid anticipated delays.
							<br/>
							<span class="RemarkSubHeader"> Attention to all travellers to the USA:</span>&nbsp;&nbsp; 
							Please note that your airlines may be required by laws in the USA and other 
							countries to give border control agencies access to passenger data. Accordingly 
							any information they hold about you and your travel arrangement may be 
							disclosed to the customs and immigration authorities of any country in your 
							itinerary. Due to the complexity of US requirements, travelers are encouraged 
							to check the following website to ensure they qualify under USA waiver program: 
							http://usembassy-australia.state.gov/consular/visawaiver.html. Machine readable 
							passports are required for all visa waiver program travel to the US. Australian 
							passports issued in Australia from 1984 are machine readable. Passports issued 
							outside of Australia and non Australian passports need to be checked.<br/>
							<span class="RemarkSubHeader"> US Border Requirement:</span>&nbsp;&nbsp; Due to 
							US borders changes each foreign visitor between 14 and 79 years of age will be 
							required to have their fingerprints and photographs taken digitally upon 
							arrival at a US port by the immigration authorities. For Further Information 
							Please Refer To The United States Consular Website: 
							http://www.dhx.gov/chspublic/index.jsp<br/>
							<span class="RemarkSubHeader">Travel Intermediary Disclosure:</span>&nbsp;&nbsp; 
							Travel Intermediary Disclosure American Express (AMEX) helps manage your 
							company’s travel expenses and assists you in finding travel suppliers and 
							making arrangements that meet your individual needs. We consider various 
							factors in identifying travel suppliers and recommending specific itineraries. 
							In this role, we are acting as an independent third party and not as a 
							fiduciary. We want you to be aware that certain suppliers pay us commissions as 
							well as incentives for reaching sales targets or other goals, and from time to 
							time may also provide incentives to our travel counselors. Certain suppliers 
							may also provide compensation to us for various marketing and administrative 
							services that we perform for them, such as granting them access to our 
							marketing channels, participating in marketing programs and supporting 
							technology initiatives. In addition, we receive compensation from suppliers 
							when customers use the American Express® Card or other American Express 
							products to pay for supplier products and services. From time to time we may 
							enter into other business relationships with suppliers and these arrangements, 
							including levels and types of compensation and incentives we receive, are 
							subject to change. In identifying suppliers and recommending itineraries, we 
							may consider a number of factors; including supplier availability, your 
							preferences, and any agreements we have to book travel in accordance with your 
							company’s travel policy. The relationships we have with suppliers may also 
							influence the suppliers we identify and the itineraries we recommend.<br/>
							<span class="RemarkSubHeader">Liability Statement:</span>&nbsp;&nbsp; American 
							Express (AMEX) acts only as agent for the airlines hotels and other contractors 
							providing services (suppliers). By using the 
							services on this itinerary the client agrees that neither AMEX nor its related 
							companies employees or representatives shall be liable for any loss costs 
							expense injury accident or damage to person or property resulting directly or 
							indirectly from (a) the acts or omissions of such suppliers (b) acts of god or 
							(c) any other cause beyond AMEX control.<br/>
							<span class="RemarkSubHeader">Privacy Policy:</span>&nbsp;&nbsp; For American 
							Express Privacy Policy please refer to 
							<a class="body" href="http://www.americanexpress.com/australia/legal/privacy.shtml">www.americanexpress.com/australia/legal/privacy.shtml</a> <br/>
							<br/>
					  	<span class="RemarkHeader">Your Feedback Shapes our Business</span><br/>
						To submit feedback to our Business Travel 
						and Quality	teams 24 hour a day/ 7days a week, visit
						at	<a class="body" href="www.americanexpress.com.au/aimsonline">www.americanexpress.com.au/aimsonline</a> <br/>
							<br/>
							<span class="RemarkHeader"><strong>A message
							from American Express and Department
        of Foreign Affairs and Trade</strong></span>&nbsp;&nbsp;
							<br/>
							<span class="RemarkSubHeader">Important
        Information for Travellers:</span>&nbsp;&nbsp; American Express Travel Service is a partner in the 
							Charter for Safe Travel. We recommend that you consult
        Department of Foreign  Affairs and Trade web site at <a class="body" href="http://www.smartraveller.gov.au">www.smartraveller.gov.au</a>        and take note of 
							the travel advisory information on that web site.
        The Department of Foreign  Affairs and Trade operates a 24hour Consular
        Emergency Centre on 1300 555 135 
							(in Australia) or + 61 2 6261 3305.<br/>
							<br/>
							<span class="RemarkSubHeader">We also recommend that you consider the following 'Safe Travel'
        - Top 10 Tips:</span>&nbsp;&nbsp;
							<br/>
							1. Read up on where you're going. Check on safety
							and related developments at your destination by reading country-specific
							travel advisories available from
							the Department of Foreign Affairs and TRADE website.<br/>
							2. Consult a 'safe travel' partner organization for
							professional advice on in-country travel, accommodation and good travel
							preparation.<br/>
							3. Get the necessary visas for the country or countries
							you are visiting but be	aware that a visa does not guarantee entry.<br/>
							4. Check that you hold appropriate travel insurance
							to cover hospital treatment, medical evacuation and the kind of activities
							you plan to take.
							Overseas medical costs are expensive and Medicare
							and Australian private health	insurance will not cover you outside Australia.<br/>
							5. For longer stays in a country, or where the security
							situation is volatile, register your details at the local Australian embassy,
							high commission or
							consulate, or online. This will help us help you
							in an emergency.<br/>
							6. Know where to get help if you're in trouble. Ensure
							you have the contact details of the local Australian
							embassy, high commission	or consulate in the
							country in which you're travelling.<br/>
							7. Keep in regular contact with friends and relatives
							back in Australia by	phone or email and leave a travel itinerary. <br/>
							8. Check with health professionals for information
							on recommended vaccinations	or other precautions.<br/>
							9. Protect your personal information and make copies
							of your passport details, insurance policy, traveller’s
							cheques and credit	card numbers. Carry one copy
							and leave a copy with someone at home. Carry additional
							copies of your passport	photo with you.<br/>
							10. Don't carry illicit drugs. In some countries
							such as Vietnam, Malaysia, Singapore and Thailand drug offences carry
							the death penalty.<br/>
					  </p></td>
				</tr>
			</table>
		</span>&nbsp;&nbsp;
		<span id="EMERGENCY" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Emergency Assistance</strong> </span><br />
    After Hours Emergency Travel Centre – 1800 644379 International Dialling – (61) 3 9633 6482 
	– Reverse Charge <br/>
	Emergency Travel Assistance whilst in the USA call toll free 1 866 89 59 023 <br/>
	Facsimile – (61) 3 9633 6487 Email – emergencytravelcentre@aexp.com<br/>

	</p>
    </td>
  </tr>
</table>
</span>
<span id="AMP" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important AMP Information</strong> </span><br />
 	
<strong>Corporate Travel Insurance details:</strong>  ACE Insurance Limited – Policy No. O1PP527370
For emergency assistance please call ACE Assistance 24 hours reverse charge:  61-2-9929-2210 or 1800-1212-2000 from 
UK, USA, New Zealand, Singapore or Hong Kong.<br />
For security and other useful information about your destination log on to: <a class="body" href="www.crg-online.com">www.crg-online.com</a>.
For further information on travel security site refer to the corporate security policy or consult your business 
security team on 02-9257-2222.
	</p>
    </td>
  </tr>
</table>
</span>
<span id="COCACOLA" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Coca Cola Information</strong> </span><br />
  Emergency Travel Assistance:  Call reverse charges 24 hours a day:  61-2-9461-3870  Policy Number:  15-0000315-PAD
	</p>
    </td>
  </tr>
</table>
</span>
<span id="ACE" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important ACE Information</strong> </span><br />
    ACE Group has engaged International SOS to help with Medical Emergencies you may have while travelling. <br />
Call collect 24 hours a day:  Canada on 1-215-942-8226, Europe/CIS/Africa on 44-208-762-8008 and Asia/Australia/Pacific on 65-338-7800
	</p>
    </td>
  </tr>
</table>
</span>
<span id="AGILENT" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Agilent Information</strong> </span><br />
   Agilent employees and contractors with Flexforce numbers are covered for insurance whilst away on business. 
   If carrying business goods by hand please refer to: http://gtt.agilent.com/trade/gtc/customs/webpage/handcarry.htm<br />
	For Emergency assistance contact the Agilent Security Response Centre located in the USA: 1-970- 288-8888 or Telnet 288-8888
	</p>
    </td>
  </tr>
</table>
</span>

<span id="ALCOA" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Alcoa Information</strong> </span><br />
    Export Compliance Warning: Travel to certain countries, meetings with certain individuals, discussion topics, 
	and the taking of certain product, software or technical data may be strictly prohibited. The foreign traveller 
	bears the responsibility for completing all applicable foreign travel procedures and export control checks. 
	Consult your BU/RU Compliance Liaison for further guidance. <br />    

	Please contact your local Medical Centre for further information on vaccination and any other medical requirements 
	for your destination.  They will also provide you with a first aid kit for your travel.<br />

	Laptop Information: To resolve connection issues when accessing Alcoa from a Non Alcoa site (e.g. Hotel, Airport) 
	refer to the Laptop Users Guide which is on your Alcoa laptop (click Start, All Programs, Manuals and Guides).  Please 
	read the sections on VPN and Wireless, and check the recommended laptop settings provided in the guide.<br />
	</p>
    </td>
  </tr>
</table>
</span>

<span id="ANU" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important ANU information</strong> </span><br />
    Ace assistance helpline:  Sydney 61-2-9929-2210 reverse charge.  All University travel must be approved 
	by the appropriate delegate.  It is important that any person undertaking international travel check the 
	Department of Foreign Affairs warnings relating to countries being visited DFAT web site:  
	    <a class="body" href="http://www.DFAT.GOV.AU/consular/advice/index.html">www.DFAT.GOV.AU/consular/advice/index.html</a><br />
	Visit the University Travel Portal at:  <a class="body" href="http://TRAVEL.ANU.EDU.AU">http://TRAVEL.ANU.EDU.AU</a> to find out all you need to know about travel.
</p>
    </td>
  </tr>
</table>
</span>

<span id="BGCIVIL" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important BG Civil Information</strong> </span><br />
    Car Rental: Order Number must be provided to Thrifty car rental for all bookings</p>
    </td>
  </tr>
</table>
</span>

<span id="BTAUST" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important BT Aust Information</strong> </span><br />
    Emergency assistance is provided by Europ Assistance.  In the event of required Emergency in-patient or 
	out-patient medical assistance please contact: Within UK:  0870-737-5880, Overseas:  44-(0)-1444-442342<br />
	Full details of cover can be found on the BT Intranet at BT Travel
</p>
    </td>
  </tr>
</table>
</span>

<span id="BREDERO" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Bredero Information</strong> </span><br />
    Legal Requirement: All non US citizens must always carry identification/status documents while in the US. <br />
Please advise all US bound travellers.
</p>
    </td>
  </tr>
</table>
</span>

<span id="COLGATE" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Colgate Information</strong> </span><br />
    Colgate New York emergency contact phone number: 1 212 310 33 33
	</p>
    </td>
  </tr>
</table>
</span>

<span id="DELL" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Dell Information</strong> </span><br />
    	Transaction Fees: Domestic travel AUD49.50 GST inclusive, Trans Tasman travel AUD90.00 (including internal 
		New Zealand domestic tickets issued) and International travel AUD190.00.  Trans Tasman and International travel 
		are GST exempt.  The transaction fee will be charged separately to your account.  Important note:  A transaction 
		fee will apply to tickets that require re-issuing as well.</p>
    </td>
  </tr>
</table>
</span>

<span id="DEPTTRANS" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Department of Transport Information</strong> </span><br />
    Department of Transport have official overseas travel insurance with Comcover.<br />
 All Department of Transport international travellers should check with relevant Embassies/Consulates on Visa requirements
</p>
    </td>
  </tr>
</table>
</span>

<span id="ERNSTYOUNG" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Ernst and Young Information</strong> </span><br />
    Emergency Contact Details <br />
	Ernst and Young Insurance details: Ace Insurance Limited – Policy No:  ABTVL000109NSW<br />
	For assistance anywhere in the world contact the local operator and ask for a reverse charge call 
	to ACE Assistance on +61 2 9929 2210. <br />
	Should you need to make a claim on your return contact: Truc Nguyen , Corporate Insurance Services , AON Risk Services <br />
	Phone: +61 2 9253 7072	Email: truc.nguyen@aon.com.au  
</p>
    </td>
  </tr>
</table>
</span>

<span id="EXXON" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Exxon Information</strong> </span><br />
    Travel Insurance for employees is covered under the ExxonMobil business plan.  If you are not an employee, 
	please ensure you take out insurance before you travel overseas. Many business destinations pose serious health 
	risks, including Malaria.  Business travellers should contact the ExxonMobil Occupational Health Department prior 
	to travel for a pre-travel consultation. This includes provisions of a travel kit and ‘EMERS’ card, vaccination if 
	required and country specific health advice.  The contact number is:  61-3-9270-3352. In the event of illness or 
	injury while travelling, contact the Medical Department of the host affiliate or the ExxonMobil Emergency Response 
	System (EMES) which provides 24 hours global assistance on:  1 973 966 7893.<br />

	For further details and general information relating to the ExxonMobil travel program, please refer to the ExxonMobil intranet site.
	Your feedback is welcome at anytime via email to:  donna.m.coleman@aexp.com
</p>
    </td>
  </tr>
</table>
</span>

<span id="FIRSTDATA" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important First Data Information</strong> </span><br />
    Contact your Travel administrator or Travel Co-Ordinators for information on the 
	company’s travel insurance and assistance program. 
	</p>
    </td>
  </tr>
</table>
</span>

<span id="FORD" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Ford Motor Company Australia Information</strong> </span><br />
    It is compulsory for all Ford employees to visit the website <a class="body" href="http://www.travel.cord.com/ap/Travel/travel_policy.asp">www.travel.cord.com/ap/Travel/travel_policy.asp</a> to print an
	SOS card and to conduct the steps on the travel checklist before traveling. This website can also be used to check details
	of Ford Australia Travel Policy.
	</p>
    </td>
  </tr>
</table>
</span>

<span id="GENRE" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important General ReInsurance Information</strong> </span><br />
    Please remember to complete your travel diary for overnight travel.<br />
			Chubb Insurance Company of Australia LTD Policy Number: 93107586. Phone reverse charges to 61 2 9929 2216. <br />
			It is very important that Chubb Insurance is contacted ASAP in the event of any medical emergency or prior 
			to evacuation in every case.
</p>
    </td>
  </tr>
</table>
</span>

<span id="IBM" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important IBM Information</strong> </span><br />
    Chubb Insurance Customer Care : 24 hours a day, anywhere in the World<br />
	Reverse Charge:   +61 2 9929 2216  Please quote Policy No:  93111639<br />
	</p>
    </td>
  </tr>
</table>
</span>

<span id="INTEL" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Intel Information</strong> </span><br />
    <strong>For Medical and Legal emergencies:</strong><br />
	Call International SOS 24 hours a day on 1 866 868 2853 within the US or 215 701 2939 collect if calling from outside the US.
</p>
    </td>
  </tr>
</table>
</span>

<span id="JOHNSANDS" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Jophn Sands Information</strong> </span><br />
    John Sands have a blanket Business Travel Insurance Policy</p>
    </td>
  </tr>
</table>
</span>

<span id="LENDLEASE" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Lend Lease Information</strong> </span><br />
    Security Emergency Contact Details 24 hours a day.  International SOS, contact the region nearest to your 
	time zone. London United Kingdom: 44-208-762-8008, Philadelphia USA: 1-215-245-4707, Singapore:  65-338-7800, 
	Sydney Australia:  61-2-9372-2468. <br />
	Lend Lease security member number:  14ACSA000017<br />
	Medical Emergency Contact Details 24 hours a day. Chubb Customer Care, call reverse charges:  61-2-9929-2216.  <br />
	Chubb Policy no:  98108371
</p>
    </td>
  </tr>
</table>
</span>

<span id="MARSH" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Marsh Information</strong> </span><br />
    A transaction fee is applicable to every airline ticket issued.<br />
Note 1:  Majority of tickets are issued 24 hours before travel or within three days of making a reservation.  
Your itinerary will confirm the date the tickets will be issued.  The transaction fee will appear as a separate 
charge on your American Express card statement.<br />
Note 2:  An additional transaction fee will apply to each ticket that requires a change/reissue or refund after 
the original ticket has been issued.<br />
Transaction Fees: Domestic travel AUD37.16 GST inclusive, Trans Tasman travel AUD64.34 and International travel 
AUD119.03.  Trans Tasman and International travel are GST exempt.
</p>
    </td>
  </tr>
</table>
</span>

<span id="MERCER" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Mercer Information</strong> </span><br />
    A transaction fee is applicable to every airline ticket issued.  <br />
Note 1:  Majority of tickets are issued 24 hours after making a reservation or the day before departure. 
Your itinerary will confirm the date the tickets will be issued. The transaction fee will appear as a 
separate charge on your American Express card statement.<br />
Note 2:  An additional transaction fee will apply to each ticket that requires a change/reissue or refund 
after the original ticket has been issued.<br />

Transaction Fees: Domestic travel AUD37.16 GST inclusive, Trans Tasman travel AUD64.34 and International 
travel AUD119.03.  Trans Tasman and International travel are GST exempt.
</p>
    </td>
  </tr>
</table>
</span>

<span id="MELUNI" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Melbourne University Information</strong> </span><br />
    In order for tickets to be issued and avoid automatic cancellation of your reservation, depending on your University 
	procedures you must:  fax a purchase order or permission to charge expenses to 03 9633 6572 OR email your purchase 
	order or warrant by the date shown on your itinerary.<br />

Business Insurance is provided by Melbourne University for travel originating in Australia.  Please contact Dennis Crowley 
for details on:  03-8344-6111.  Separate insurance is required for travel inbound to Australia.
</p>
    </td>
  </tr>
</table>
</span>

<span id="MICROSOFT" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Microsoft Information</strong> </span><br />
    Microsoft Australia renumerates American Express in lieu of all commissions being rebated with fee per transaction. <br />
The fees are as follows: Domestic $41.81 per transaction, Trans Tasman $68.65 per transaction, International $122.85 per transaction. <br />
•	If changes are made after tickets are issued, another transaction fee is charged.<br />
•	A transaction fee is charged for each ticket issued on a multi ticketed itinerary.<br />
•	A transaction fee will be charged on all refunds. <br />
•	If a ticket is cancelled the transaction fee will not be refunded.<br />
•	No fee applies to Car or Hotel bookings.<br />
Please note the transaction fee is charged directly to the traveller and will appear on the travellers American Express 
statement with each air ticket purchased.<br />
For the latest Microsoft security updated visit the security website for information and resources to help you plan and
execute a safe trip
</p>
    </td>
  </tr>
</table>
</span>

<span id="MITSUBISHI" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Mitsubishi Information</strong> </span><br />
    Mitsubishi requires a completed TA for all travel.</p>
    </td>
  </tr>
</table>
</span>

<span id="MONASHUNI" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Monash Univeristy Information</strong> </span><br />
    Privacy statement in relation to Monash University travel, use of preferred travel agents and collection of traveller 
	data refer to:  <a class="body" href="http://www.FIRM.MONASH.EDU.AU/travel/travelpolicy/privacy.htm">www.FIRM.MONASH.EDU.AU/travel/travelpolicy/privacy.htm</a></p>
    </td>
  </tr>
</table>
</span>

<span id="NORTEL" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Nortel Information</strong> </span><br />
    Contact your Nortel Travel Call Centre (contact details above) to make any changes to your itinerary or 
	for en route travel arrangements.<br />

	For healthcare and security emergencies while travelling internationally call Nortel’s Travel Well 24 hour 
	phone line at ESN 333-2710 or 1-215-701-2933. (Collect calls are accepted)  <a class="body" href="http://go/travelwell">http://go/travelwell</a><br />

	For information on travel policy and procedures, security bulletins, preferred vendors and related topics, 
	visit Nortel’s Global Travel website @ <a class="body" href="http://travel.ca.nortel.com/Travel/index.html">http://travel.ca.nortel.com/Travel/index.html</a></p>
    </td>
  </tr>
</table>
</span>

<span id="NOKIA" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Nokia Information</strong> </span><br />
   Travel Insurance Emergency contact details: 
Accident and Health International phone: 44 207 365 9626. Available 24 hours a day from anywhere in the world.<br />

Please review the following Health link for information pertaining to the recommended vaccinations and other health 
related issues that may exist for your destination country. <a class="body" href="http://www.internationalsos.com/members_home/login/clientAccess.cfm?CustNo=011243A">www.internationalsos.com/members_home/login/clientAccess.cfm?CustNo=011243A</a> </p>
    </td>
  </tr>
</table>
</span>

<span id="PACIFICAGROUP" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Pacifica Group Information</strong> </span><br />
    Pacifica Group Travel Insurance: ACE assistance Phone: 61 2 9929 2210   Policy Number: ABTVL001723VIC    Coverage: Worldwide</p>
    </td>
  </tr>
</table>
</span>

<span id="PACDUN" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Pacific Dunlop Information</strong> </span><br />
    Travel Vaccinations:  If you have not already contacted Dr Clive, please contact Dr Clive on telephone: 0414-389-618 
	to discuss your vaccination requirements. If you anticipate spending more than usual on your American Express 
	Corporate Card during your trip, we recommend that you arrange pre-authorisation of the required amount, to avoid 
	possible problems. With card referrals call our Service Centre on 1800-221-659 (weekdays), 1800-222-000 (weekends) 
	or if calling from Sydney 02-9271-8666. <br />

	Transaction Fees will apply to each ticket issued:
	Domestic travel AUD38.38 GST inclusive, Trans Tasman travel AUD34.89 and International travel AUD129.08.  
	Trans Tasman and International travel are GST exempt.  The transaction fee will be charged separately to your account. <br />
	Important note:  A transaction fee will apply to tickets that require re-issuing as well.
</p>
    </td>
  </tr>
</table>
</span>

 <span id="RAYTHEON" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Raytheon Information</strong> </span><br />
    Please advise James Souter-Robertson (jsouter@raytheon.com.au) when travel exceeds 14 days duration.<br />
Rental cars should be returned with a full tank of fuel to avoid costly refuelling surcharges. <br />

Raytheon employees who require assistance anywhere in the world whilst travelling should contact Raytheon’s Travel 
insurer ACE Insurance:  61-2-9929-2210 reverse changes via the local operator.  Employees should quote Raytheon 
Australia’s Business Travel Insurance Policy number:  ABTVL001941.<br />
For changes to American Express bookings please utilise the below information. 
</p>
    </td>
  </tr>
</table>
</span>

<span id="SANTOS" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Santos Information</strong> </span><br />
    For International travel please ensure you read the Santos Travel Guidelines
	</p>
    </td>
  </tr>
</table>
</span>

<span id="SAROCO" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Saroco Information</strong> </span><br />
    Australian departure tax is included in your ticket.  An additional baggage allowance of 50 kgs has been arranged.  
	The necessary voucher will be included with your ticket.  Please ensure any unused portion of your ticket is 
	returned to Aramco on arrival in Dhahran</p>
    </td>
  </tr>
</table>
</span>

<span id="SAUNI" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important SA University Information</strong> </span><br />
    Forward a copy of all priced electronic itineraries to Diane Wade for domestic and overseas travel.</p>
    </td>
  </tr>
</table>
</span>

<span id="SCA" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important SCA Hygiene Information</strong> </span><br />
    Transaction Fees per booking: Domestic travel AUD35.20 GST inclusive, Trans Tasman travel AUD57.00 and 
	International travel AUD149.00.  Trans Tasman and International travel are GST exempt.  The transaction fee 
	will be charged separately to your account.  </p>
    </td>
  </tr>
</table>
</span>

<span id="SHELL" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Shell Information</strong> </span><br />
    It is important to review the Shell Travel and Security web page now to check whether you need any vaccinations 
	or whether there are any health or security issues that you should be aware of in relation to this destination. 
	The web page is:  http://sww-shs.shell.com/health/<br />

Travellers to United Kingdom and Netherlands: For detailed information regarding how to claim back VAT/BTW tax please 
speak to your travel consultant or email shellctustaff@aexp.comprior to your trip.  Dutch law requires that all 
individuals aged 14 and above carry official identification while travelling in the Netherlands.  The form of acceptable 
identification depends both on the situation and on your nationality.  In general accepted identification is defined as a valid passport 
</p>
    </td>
  </tr>
</table>
</span>

<span id="SUNMICROSYSTEMS" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Sun Microsystems Information</strong> </span><br />
    Sun Microsystems Corporate Travel Insurance Policy:  Policy number:  01PP524770<br />
    <a class="body" href="http://sunweb.aus/HRWEB/policies/travel/travelpolicysummary20.html">http://sunweb.aus/HRWEB/policies/travel/travelpolicysummary20.html</a> <br />
Contact details for ACE assistance:  reverse charges from anywhere:  61-2-9929-2210. <br />
International SOS assistance:  <a class="body" href="http://hr.central/globalservices//travel/currentrelease/sos/html">http://hr.central/globalservices//travel/currentrelease/sos/html</a>  <br />
Contact details:  Suns member number:  11BCPS000004. <br />
From USA:  1800-523-6586 or 1-215-245-4707 collect, From Asia/Australia/Pacific call collect 65-338-7880<br />
When you call SOS be ready to identify yourself and advise the operator your name, your employer Sun Microsystems Inc and 
provide Suns member number 11BCPS000004. Also provide your phone number to the operator in case you get disconnected.<br />

If you have not already enrolled in the new Avis Express program please do so by going to:<br />
 <a class="body" href="https://www.avis.com/avisweb/profile/prefmemberapplication">www.avis.com/avisweb/profile/prefmemberapplication</a>. <br />
This will save you time, bypassing the hassles of queuing, ensure the Sun terms and conditions apply to your 
rental and travel Suns rental usage.
</p>
    </td>
  </tr>
</table>
</span>

<span id="SYMANTEC" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Symantec Information</strong> </span><br />
    Symantec has engaged International SOS to assist with Emergency assistance.  Employees should utilize this 
	service in the event of urgent medical or security emergencies.  You can contact SO via their offices which 
	are listed at:  www.internationalsos.com or telephone 24 hours a day:  International USA on 1-215-245-4707, 
	within USA on 1-800-523-6586, London UK on 44-0-20-8762-8008 or and Singapore on 65-6338-7800.</p>
    </td>
  </tr>
</table>
</span>

<span id="TAXINVOICE" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"> </span><br />
    <strong>Tax Invoice - Record of Charge</strong></p>
    </td>
  </tr>
</table>
</span>

<span id="TOYOTA" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Toyota Information</strong> </span><br />
    Toyota Motor Corporation Australia employees are covered for insurance whilst away on business.
	Please call Richard Dovison from Legal on 03 9647 4241 for any Insurance enquiries.
	</p>
    </td>
	</tr>
	<tr>
	<td class="Remark"><p><span class="RemarkHeader"><strong>Toyota Emergency Assistance</strong> </span><br />
  <strong>DOMESTIC</strong>: Please call the Sydney 02-9710-3190 or Melbourne Travel Office 03-9647-4622 for after hours emergency assistance. <br /> 
These numbers will automatically divert to the American Express Emergency Travel Centre <br />
<strong>INTERNATIONAL</strong>:  (61) 3-9633-6482 - Reverse Charge    Emergency Travel Assistance whilst in the USA call 
toll free 1-866-89-59-023 <br />
Facsimile – (61) 3 9633 6487 Email – emergencytravelcentre@aexp.com
</p>
</td>
</tr>
</table>
</span>

<span id="USEMBASSY" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important US Embassy Information</strong> </span><br />
    You are required to immediately report all unused, lost or stolen tickets and trip cancellations to American 
	Express Travel, US Embassy office. ***Passports and Visas are the responsibility of the US Embassy.</p>
    </td>
  </tr>
</table>
</span>

<span id="VICGOVT" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Victorian Government Information</strong> </span><br />
    <strong>Domestic Travel:</strong> If your authorization is not received by the date shown on your itinerary, the airline 
	will not honour the fare quoted on this itinerary or may cancel your reservation.<br />

	<strong>International Travel:</strong> Please advise your travel consultant if you are travelling on the following passports:  
	Diplomatic / Official / Non Australian, as visa requirements may differ from an ordinary passport.
	It is mandatory that Travelscene Travel Insurance application form be signed and returned to American Express 
	Business Travel prior to the policy issuance.<br />

	<strong>The Victorian Government</strong> pricing structure in conjunction with American Express has changed. <br />
	For further information please refer to the website:  <a class="body" href="WWW.VGPB.VIC.GOV.AU">www.VGPB.VIC.gov.au</a><br />
	In line with the Victoria Government policy no frequent flyer or loyalty program details will be recorded in your 
	reservation.  Please advise any special meal or seating requests to your travel consultant.
</p>
    </td>
  </tr>
</table>
</span>

<span id="WESTPAC" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Westpac Information</strong> </span><br />
    Transaction Fees: Domestic AUD38.50 GST inclusive, Trans Tasman AUD35.00 and International AUD120.00 Trans 
	Tasman and International are GST exempt</p>
    </td>
  </tr>
</table>
</span>

<span id="ZURICH" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important Zurich Information</strong> </span><br />
    In the event of a crisis your travel information is accessible by designated Zurich personnel through the 
	Traveller Locator Service.  The intent is to assist Zurich travellers with finding help and relieving a 
	potentially dangerous situation.  It is imperative to make all travel reservations and changes through 
	your designated American Express Travel office to effectively monitor those travelling to potentially dangerous locations.</p>
    </td>
  </tr>
</table>
</span>

<span id="AnotherBookMarkName" >
<table class="SegmentTable" ID="Table2" border="0">
  <tr>
  <td class="Remark"><p><span class="RemarkHeader"><strong>Important  Information</strong> </span><br />
    </p>
    </td>
  </tr>
</table>
</span>
	</body>
</html>
