<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="styles/Itinerary.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<span id="MALARIA">
			<table class="SegmentTable" ID="Table1" border="0">
				<tr>
					<td class="Remark">
						<span class="RemarkHeader">
							Medicine and Occupational Health <br /></span>
							<br />
						<br />
						<span id="RemarkText">
							Dear employee*, <br />
							You recently scheduled a trip to a country where malaria is a health risk. 
							Malaria can be serious and potentially fatal if not diagnosed and treated promptly. 
							However, it is preventable. As ExxonMobil's priority is the safety and health of its employees, 
							we want to ensure that travelers to malaria-risk areas are provided with the right information and, 
							for non-immune travelers, appropriate medication. It is very important that all travelers to malaria-risk 
							areas follow the Company's requirements to prevent malaria.
							</span>
						<br />
						<br />
						<span id="Span1">
							Before traveling to a malaria risk area, you must obtain a Malaria VISA through the Malaria web site. 
							This process will verify that your awareness of malaria risks is current, that you have completed a MCCP 
							Attestation and training (non-immune only), and for several destinations, that you have a malaria survival kit. 
							If you arrive in country without a valid malaria visa, you will be requested to go though the malaria visa 
							process before you are allowed to start your work activities. To obtain the Malaria VISA, click here 
							<a class="Remark" href="http://emcorp.na.xom.com/imoh/Upstream_Health/public_health/Malaria/index.html"
								target="_blank">http://emcorp.na.xom.com/imoh/Upstream_Health/public_health/Malaria/index.html</a> 
							and follow the instructions. After completing the process, print your personal Malaria VISA and carry it 
							with you when traveling. The Malaria VISA displays an expiration date and must be renewed before it expires.
							</span>
						<br />
						<br />
						<span id="Span2">
							General health information about health risks and recommended health prevention measures is available on the 
							ExxonMobil intranet site at 
							<a class="Remark" href="http://emcorpapps.na.xom.com/Travax/index.html" target="_blank">
							http://emcorpapps.na.xom.com/Travax/index.html</a>. Click on "Destination Information" and then click on 
							the country to which you will be traveling.</span>
						<br />
						<br />
						<span id="Span3">
							<strong>However, this information does not replace the advice of a travel health 
							consultant.</strong> Before you depart, please make an appointment with the nearest ExxonMobil clinic or 
							contact your regional travel health consultant (travel consultant information is available on the ExxonMobil 
							intranet site; <a class="Remark" href="http://emcorp.na.xom.com/imoh/Country_Contacts/Map_Page.htm" target="_blank">
								http://emcorp.na.xom.com/imoh/Country_Contacts/Map_Page.htm</a> ). You will receive information about 
								health risks and how to manage them. Your health consultant will provide or give you a prescription for 
								anti-malaria medication. If you visit an ExxonMobil clinic, you will also receive a travel convenience kit 
								and an EMERS (emergency health contact) card. Your immunizations will also be reviewed to ensure that all 
								recommended vaccines for your destination have been offered and are current.
							</span>
						<br />
						<br />
						<span id="Span4">
							As you know, the best treatment is prevention. Without protection, you might expose yourself to serious 
							health risks. Even if you are familiar with the country you are traveling to, call the clinic. Preventive 
							measures and recommendations change over time.</span>
						<br />
						<br />
						<span id="Span5">
							If you have any questions about the Malaria Prevention and Control Program, please contact your supervisor 
							or a travel health consultant.
							</span>
						<br />
						<br />
						<span id="Span6">
							Bon voyage!
							</span>
						<br />
						<br />
						<span class="RemarkHeader" id="Span7">
							Medicine and Occupational Health for Contractor
							</span>
						<br />
						<br />
						<span id="Span8">
						*Note: If you are a contractor:
						<br /><br />
						Your company should have a similar program in place to prevent malaria. Contact your company 
						medical professional to obtain information, advice and preventive medication to protect you 
						against malaria infection during your trip. You should also have the medical provider review 
						your immunizations to ensure that all recommended vaccines for your destination have been 
						offered and are current. If you have any further questions or concerns, please contact your 
						employer or your ExxonMobil Contract Administrator. </span>
						<br />
					</td>
				</tr>
			</table>
		</span>
	</body>
</html>
