<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html>
	<head>
		<title>Travel Details</title>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
		<link href="../styles/Itinerary.css" rel="stylesheet" type="text/css" />
  		<link href="../styles/Style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="ARNKSegment">
			<table class="SegmentTable" ID="Table1">
				<span id="DateLine">
				<tr>
					<td class="headerCol1"><p><span class="AmexSegment">Travel Details</span></p></td>
					<td class="headerCol2"><span class="Date"><Day/>&nbsp;<Date/></span></td>
				</tr>
				</span>
				<tr>
					<td class="HotelInfo">Own Arrangements</td>
				</tr>
				<tr>
					<td >&nbsp;</td>
				</tr>
			</table>
		</div>
	</body>
</html>
