<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html>
	<head>
		<title>Travel Details</title>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
		<LINK href="styles/style.css" rel="StyleSheet"/>
	</head>
	<body>
		<span id="CarSegment" >
			<table class="SegmentTable">
				<span id="DateLine">
				<tr>
					<td class="headerCol1"><p><span class="AmexSegment">Travel Details</span></p></td>
					<td class="headerCol2"><span class="Date"><Day/>&nbsp;<Date/></span></td>
				</tr>
				</span>
				<tr>
							<td class="SegCol1">&nbsp;</td>
							<td  align="right">&nbsp;<Calendar/></td>
								
				</tr>
				<tr>
					<td class="CarInfo" colspan="2"><b>Car&nbsp;Information</b></td>
				</tr>
				<tr>
					<td colspan="2">
						<table class="SubSegment">
							<tr>
								<td class="SegCol1">Car Hire Company</td>
								<td class="SegCol2"><span class="Supplier"><Supplier />
									</span></td>
								<td class="SegCol3"><span class="status"><Status />
									</span></td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							<tr>
								<td class="SegCol1">Pick Up</td>
								<td class="SegCol2"><Indate/>&nbsp;<PickUp/></td>
								<td class="SegCol3">Rental Period</td>
								<td class="SegCol4"><Duration/> Day/s</td>
							</tr>
							<tr>
								<td class="SegCol1">Drop Off</td>
								<td class="SegCol2"><OutDate/>&nbsp;<DropOff/></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							<tr>
							<span id="ConfirmationSection" >
								<td class="SegCol1">Confirmation Number</td>
								<td class="SegCol2"><Confirmation /></td>
							</span>
							<span id="TypeSection">
								<td class="SegCol3">Size</td>
								<td class="SegCol4"><Type /></td>
							</span>
							</tr>
							<span id="Span1" >
							<tr>
								<td class="SegCol1">Rate</td>
								<td class="SegCol2"><Rate /></td>
						
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							</span>
							<span id="SpecialRequests">
							<tr>
								<td class="SegCol1">Special Requests</td>
								<td class="SegCol2" colspan="3"><FreeFormat /></td>
							</tr>
							</span>
							<tr>
								<Remarks/>
							</tr>
							<tr>
								<td class="SegCol1" colspan="4">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</span>
	</body>
</html>
