<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html>
	<head>
		<title>Travel Details</title>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
		<link href="../styles/Itinerary.css" rel="stylesheet" type="text/css" />
  		<link href="../styles/Style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="LoyaltySegment">
			<table class="SegmentTable" ID="Table1">
				<tr>
					<td colspan="2">
						<table class="SubSegment" ID="Table2">
							<tr>
								<td class="MembershipInfo" colspan="2">Loyalty Programs</td>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td colspan="4">
									<table border="0" ID="Table3">
										<LoyaltySection />
										<tr>
											<td class="SegCol1">&nbsp;</td>
											<td class="SegCol2">&nbsp;</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
