<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html>
	<head>
		<title>Travel Details</title>
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252"/>
		<LINK href="styles/style.css" rel="StyleSheet"/>
	</head>
	<body>
		<span id="TourSegment" >
			<table class="SegmentTable">
				<span id="DateLine">
				<tr>
					<td class="headerCol1"><p><span class="AmexSegment">Travel Details</span></p></td>
					<td class="headerCol2"><span class="Date"><Day/>&nbsp;<Date/></span></td>
				</tr>
				</span>
				<tr>
					<td class="CarInfo" colspan="2"><b><span id="SegmentTitle">Tour&nbsp;Information</span></b></td>
				</tr>
				<tr>
					<td colspan="2">
						<table class="SubSegment">
							<tr>
								<td colspan="2"><span id="DescriptionSection" ><Description /></span></td>
								<td class="SegCol3"><span class="status"><Status />
									</span></td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							<span id="LocationDeparture">
							<tr>
								<td class="SegCol1">Location</td>
								<td class="SegCol2"><Location/></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							<tr>
								<td class="SegCol1">Depature Date</td>
								<td class="SegCol2"><OutDate/></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							</span>
							<span id="EndDateSection" >
							<tr>
								<td class="SegCol1">Returning</td>
								<td class="SegCol2"><Indate/></td>
								<td class="SegCol3">&nbsp;</td>
								<td class="SegCol4">&nbsp;</td>
							</tr>
							</span>
							<span id="SpecialRequests">
							<tr>
								<td class="SegCol1">Special Requests</td>
								<td class="SegCol2" colspan="3"><FreeFormat /></td>
							</tr>
							</span>
							<span id="RemarksSection">
							<tr>
								<Remarks/>
							</tr>
							</span>
							<tr>
								<td class="SegCol1" colspan="4">&nbsp;</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</span>
	</body>
</html>
