@{
    ViewBag.Title = "Itinerary";
    Layout = "~/Views/Shared/MyTP.cshtml";  
}
@{
    bool bPrintViewBag = Convert.ToBoolean(ViewBag.bPrint);    
}
<div class="itinerary">
	<h1>Insert PDF link to Word based itinerary here.</h1>
</div>
