vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Nov 2006 12:09:04 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|27 Nov 2006 12:09:04 -0000
vti_filesize:IR|2925
vti_cachedtitle:SR|Travel Details
vti_cachedbodystyle:SR|<body>
vti_cachedlinkinfo:VX|Q|styles/style.css
vti_cachedsvcrellinks:VX|FQUS|Templates/styles/style.css
vti_cachedneedsrewrite:BR|false
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=windows-1252
vti_charset:SR|utf-8
vti_title:SR|Travel Details
vti_lineageid:SR|{B0D75D58-572E-495E-8815-304137E8555C}
vti_backlinkinfo:VX|
